<nav aria-label="Breadcrumb" class="container shadow-md p-2 rounded-sm mx-auto">
  <span class="fa-solid fa-house"></span>
  <a href="/">Home</a>
  {% if category %}
    <span class="fa-solid fa-chevron-right mx-2"></span>
    <a href="/{{ category | slugify }}">{{ category }}</a>
  {% endif %}
  <span class="fa-solid fa-chevron-right mx-2"></span>
  <span class="text-gray-600" aria-current="page">{{ title }}</span>
</nav>