<div aria-label="breadcrumb" class="mx-auto rounded-b-md border-6 mb-4 px-4 bg-gray-200 max-w-4xl align-top shadow-md">
    {{ collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) | safe }}
</div>
