<script src="/pagefind/pagefind-ui.js"></script>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({element: "#search", showSubResults: false, showImages: false});
    });
</script>

<div aria-label="breadcrumb" class="container mx-auto p-2 rounded-sm mb-4 bg-whitish">
    <span class="fa-solid fa-house text-grey-green"></span>
    <a href="/">Home</a>
    {% if category %}
        <span class="fa-solid fa-chevron-right mx-2 text-sm text-jet-700"></span>
        {% if categoryFontAwesomeIcon %}
            <span class="fa-{{ categoryFontAwesomeIcon }} mx-2 text-grey-green"></span>
        {% endif %}
        <a href="/{{ category | slugify }}">{{ category }}</a>
    {% endif %}
    <span class="fa-solid fa-chevron-right mx-2 text-sm text-jet-700"></span>
    <span class="text-gray-600" aria-current="page">
        {% if FontAwesomeIcon %}
            <span class="fa-{{ FontAwesomeIcon }} mx-2 text-medium-blue"></span>
        {% endif %}{{ title }}</span>
                <span id="search" class="float-right h-4"></span>
</div>