{% set collectionName = collectionName | default("skills") %}
{% set filtered_collections = collections[collectionName] %}
{% for item in filtered_collections | reverse %}
    <div class="card flex flex-col rounded-xl bg-[#ffffff] shadow-xl max-w-md my-2">
        <figure class="hero flex justify-center items-center">
            {% include 'layouts/partials/hero-image.njk' %}
        </figure>
        <div class="flex flex-col p-4">
            <h2 class="card-title leading-7 hover:bg-slate-200 pb-6">
                <a href="{{ item.url }}">{{ item.data.title | safe }}</a>
            </h2>
            <div class="description prose prose-md">
                {{ item.data.description | safe }}
            </div>
            <div class="button flex pt-6">
                <a href="{{ item.url }}" class="text-gray-700">
                    <button class="bg-slate-500 text-[#ffffff] font-bold text-base p-2 rounded-lg hover:bg-gray-400 active:scale-95 transition-transform transform shadow-md">
                        {{ item.data.buttonText }}
                    </button>
                </a>
            </div>
        </div>
    </div>
{% endfor %}