{% from "layouts/partials/macros.njk" import card %}

{% set heroImage %}
    {% include 'layouts/partials/hero-image.njk' %}
{% endset %}

{{ card(
    url=item.url,
    title=item.data.title,
    description=item.data.description,
    buttonText=item.data.buttonText,
    heroImage=heroImage
) }}