{% from "layouts/partials/macros.njk" import card %}

{% set heroImage %}
    {% include 'layouts/partials/hero-image.njk' %}
{% endset %}

<div class="card flex flex-col rounded-xl h-full p-2"
    aria-labelledby="card-title-{{ title | slugify }}">
    {{ card(
        url=item.url,
        title=item.data.title,
        description=item.data.description,
        buttonText=item.data.buttonText,
        heroImage=heroImage
    ) }}
</div>