</main>

<footer class="container p-2 rounded-md shadow-md flex flex-wrap bg-medium-blue">
    {% if layout == "layouts/details.njk" %}
<p class="mb-3">{% include 'layouts/partials/next-previous.njk' %}</p>
{% endif %}
<p id="copyright" class="container clear-both">&copy; 2008&ndash;{% year %} &mdash; Ed Marsh's Jerk Store</p>
</footer>
</div>
</body>
</html>