        </main>

        <footer class="bg-slate-200 p-4 mt-2 mb-0 rounded-bl-md rounded-tl-2xl">
            <p>&copy; 2008&ndash;{% year %} &mdash; Ed Marsh's Jerk Store</p>
        </footer>
    </body>
</html>