</main>

<footer class="container mx-auto p-4 rounded-md shadow-md bg-medium-blue">
    {% set hoverclass="hover:text-jet-200 hover:bg-success-700 underline text-success-700" %}


    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 text-whitish">
        <p class="text-left m-0 sm:text-center md:text-center m-0">
            Ed Marsh creates successful technical content by building community.
        </p>

        <p class="text-center m-0">
            <a href="/contact/" class="{{ hoverclass }}">Contact Ed</a> to discuss your content needs.
        </p>

        <div class="text-right m-0 sm:text-center md:text-center">
            <p class="text-whitish">&copy; 2008&ndash;{% year %}. Created with
                <a href="https://www.11ty.dev" class="{{ hoverclass }}">Eleventy</a>,
                <a href="https://tailwindcss.com" class="{{ hoverclass }}">Tailwind CSS</a>,
                <a href="https://mozilla.github.io/nunjucks" class="{{ hoverclass }}">Nunjucks</a>,
                <a href="https://linuxmint.com" class="{{ hoverclass }}">Linux Mint</a>,
                <a href="https://github.com" class="{{ hoverclass }}">GitHub</a>, and

            <img
                class="inline-block mt-2"
                title="Netlify build status"
                alt="Netlify build status"
                src="https://api.netlify.com/api/v1/badges/bd88baa1-cc8c-42c4-be0e-96d38dc13aa6/deploy-status?branch=main"
            /></p>
        </div>
    </div>
</footer>
</body>
</html>