<div class="grid grid-cols-3 xl:grid-cols-3 gap-3 px-3 py-3 border-2">
        {% for podcast in collections.podcasts %}


        <div class="flex flex-col rounded-2xl bg-[#ffffff] shadow-xl">
            <figure class="flex justify-center items-center rounded-2xl"><img
                                        {% if podcast.data.cover %}
                                        src="/assets/images/{{podcast.data.cover }}" alt="{{ podcast.data.coverAlt | safe }}"
                                        {% else %}
                                        src="/assets/images/content-content-podcast-new-cover.png" alt="Content Content podcast"
                                        {% endif %}/>
            </figure>
            <!---->
            <div class="flex flex-col p-4">
                <div class="text-2xl font-bold   text-[#374151] pb-6">{{ podcast.data.title |safe }}</div>
                <div class=" text-lg   text-[#374151]">{{podcast.data.description | safe }}</div>
                <div class="flex justify-end pt-6">
                    <button class="bg-[#7e22ce] text-[#ffffff]  font-bold text-base  p-3 rounded-lg hover:bg-purple-800 active:scale-95 transition-transform transform"><a href="{{podcast.page.url}}">Learn more</a></button>
                </div>
                <!---->
            </div>
    
    </div>
    {% endfor %}
</div>