<div class="grid col-auto sm:grid-cols-4 gap-3 px-3 py-3 border-2">
    {% for podcast in collections.podcasts %}

        <div class="flex flex-col rounded-xl bg-[#ffffff] shadow-xl max-w-md my-2">
            <figure class="flex justify-center items-center"><a href="{{podcast.page.url}}">
            <img
                                        {% if podcast.data.cover %}
                                        src="/assets/images/{{podcast.data.cover }}" alt="{{ podcast.data.coverAlt | safe }}"
                                        {% else %}
                                        src="/assets/images/content-content-podcast-new-cover.png" alt="Content Content podcast"
                                        {% endif %} class="h-48 rounded-2xl"/></a>
            </figure>
            <div class="flex flex-col p-4 content-evenly">
                <div class="font-bold hover:bg-slate-200 text-[#374151] pb-6"><a href="{{podcast.page.url}}">{{ podcast.data.title |safe }}</a></div>
                <div class=" text-md text-[#374151]">{{podcast.data.description}}</div>
                <div class="flex pt-6">
                    <a href="{{podcast.page.url}}" class="text-gray-700"><button class="bg-slate-500 text-[#ffffff]  font-bold text-base  p-2 rounded-lg hover:bg-gray-400 active:scale-95 transition-transform transform shadow-md ">
                        Listen now
                    </button></a>
                </div>

            </div>

        </div>
    {% endfor %}
</div>