<header>
{% set navPages = collections.all | eleventyNavigation %}

    <nav>
        <div class="menu">
            {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
            {{ navPages | dump | safe }}
            <ul role="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/content/podcasts">Podcasts</a>
                <li><a href="#">Skills</a>
            <ul>
                        {% for page in navPages %}
                            <li>
                                <a href="{{ page.url }}">{{ page.data.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="/content/about/about-ed-marsh/">About</a></li>
            </ul>
        </div>
    </nav>
</header>