<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title or metadata.title}}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <style>
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400..900;1,400..900&family=Reddit+Mono:wght@200..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
</style>
        <script src="https://kit.fontawesome.com/a285d034b2.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="/_includes/css/tw.css">
        <link
			href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css"
			rel="stylesheet"
		/>
        <link rel="stylesheet" type="text/css" href="/_includes/css/base.css">
    </head>
    <body class="bg-gray-100 body-{{title |slugify }}">
        {% block nav %}
            <nav class="bg-slate-400 shadow-md mb-6 container mx-auto px-4 flex justify-between">
                <div class="text-xl font-medium mt-1">Ed Marsh &mdash; technical writer, information architect, content strategist, podcaster</div>
                <ul class="flex space-x-4">
                    <li class="list-none">
                        <a href="/content" class="hover:text-blue-500">Home</a>
                    </li>
                    <li class="relative list-none">
                        <a href="/content/move-to-static-site/index" class="hover:text-blue-500" id="ssgDropdown">Static site transformation</a>
                        <ul
                            id="ssgSubmenu"
                            class="absolute hidden shadow-md rounded-md bg-slate-300"
                            aria-labelledby="ssgDropdown"
                        >
                            {% for ssg in collections.ssg %}
                                <li class="list-none m-4">
                                    <a href="{{ ssg.url | url }}" class="hover:bg-gray-100">{{ ssg.data.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="list-none">
                        <a href="/content/podcasts/" class="hover:text-blue-500">Podcasts</a>
                    </li>
                    <li class="list-none">
                        <a href="/content/technical-writing-examples/" class="hover:text-blue-500">Writing Samples</a>
                    </li>
                    <li class="relative list-none">
                        <a href="/content/skills/" class="hover:text-blue-500" id="skillsDropdown">Skills</a>
                        <ul
                            id="skillsSubmenu"
                            class="absolute hidden shadow-md rounded-md bg-slate-300"
                            aria-labelledby="skillsDropdown"
                        >
                            {% for skill in collections.skills %}
                                <li class="list-none">
                                    <a href="{{ skill.url | url }}" class="block px-4 py-2 hover:bg-gray-100">{{ skill.data.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="list-none">
                        <a href="/content/about/about-ed-marsh" class="hover:text-blue-500">About</a>
                    </li>
                </ul>
            </div>
        </div>
        {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
    </nav>
{% endblock %}
{% block content %}
    <main class="container mx-auto mt-8 px-4">
        <h1>{{title or metadata.title}}</h1>
        <p class="mb-4 text-lg">
            <em>{{ description or metadata.description }}</em>
        </p>

    {% endblock %}

    <script>
        const createDropdownHandlers = (dropdownId, submenuId) => {
            const dropdown = document.getElementById(dropdownId);
            const submenu = document.getElementById(submenuId);

            dropdown.addEventListener('mouseenter', () => {
                submenu
                    .classList
                    .remove('hidden');
            });

            dropdown.addEventListener('mouseleave', () => {
                const delay = setTimeout(() => {
                    submenu
                        .classList
                        .add('hidden');
                }, 100); // Adjust the delay time as needed

                submenu.addEventListener('mouseenter', () => {
                    clearTimeout(delay);
                });
            });

            submenu.addEventListener('mouseenter', () => {
                submenu
                    .classList
                    .remove('hidden');
            });
        };

        createDropdownHandlers('skillsDropdown', 'skillsSubmenu');
        createDropdownHandlers('ssgDropdown', 'ssgSubmenu');
    </script>