{% if item.data.FontAwesomeIcon or FontAwesomeIcon %}
    <a href="{{ item.url }}"><div
        class="icon fa-{{ item.data.FontAwesomeIcon or FontAwesomeIcon }} text-4xl"
        aria-label="Icon representing {{ item.data.title }}"
        title="Icon representing {{ item.data.title }}"
    ></div></a>
{% endif %}

{% if collectionName == 'podcasts' %}
    <a href="{{ item.url }}" title="Listen to {{ item.data.title }}">
        <img
        {% if cover or item.data.cover %}
            src="/assets/images/{{ cover or item.data.cover }}"
            alt="{{ item.data.coverAlt | safe }}"
            title="{{ item.data.coverAlt | safe }}"
        {% endif %}
        {% if not cover and not item.data.cover %}
            src="/assets/images/content-content-podcast-new-cover.png"
            alt="Content Content podcast with Ed Marsh"
            title="Content Content podcast with Ed Marsh"
        {% endif %}
            class="border-2 shadow-md"/>
    </a>
{% endif %}
