<a href="{{ item.url }}">
    {% if item.data.FontAwesomeIcon or FontAwesomeIcon %}
        <div class="icon fa-{{ item.data.FontAwesomeIcon or FontAwesomeIcon }} text-2xl"></div>
    {% endif %}


        {% if cover or item.data.cover %}
            <img src="/assets/images/{{ cover or item.data.cover }}" alt="{{ item.data.coverAlt | safe }}" class="h-48 rounded-2xl shadow-lg"/>
        {% endif %}
    {% if item.collection == 'podcasts' %}
        {% if not cover and not item.data.cover %}
            <img src="/assets/images/content-content-podcast-new-cover.png" alt="Content Content podcast with Ed Marsh" class="h-48 rounded-2xl shadow-lg"/>
        {% endif %}
    {% endif %}
</a>