{% macro dropdown(id, label, items, homepageUrl) %}
    <li class="relative list-none font-sans dropdown">
        <a
            href="{{ homepageUrl }}"
            id="{{ id }}-button"
            class="px-3 inline-flex items-center hover:bg-success-800"
            aria-expanded="false"
            aria-haspopup="true"
            aria-controls="{{ id }}-menu"
        >
            {{ label }}<span class="ml-1" aria-hidden="true">&#9660;</span>
        </a>
        <ul
            id="{{ id }}-menu"
            class="dropdown-menu"
            role="menu"
            aria-labelledby="{{ id }}-button"
        >
            {% for item in items %}
                <li role="none" class="list-none font-sans justify-center">
                    <a
                        href="{{ item.url | url }}"
                        class="block w-full px-2 py-2 text-jet hover:bg-medium-blue"
                        role="menuitem"
                        tabindex="-1"
                        data-index="{{ loop.index0 }}"
                    >
                        {{ item.data.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
{% endmacro %}

{% macro listItem(url, label) %}
    <li class="relative list-none font-sans">
        <a
            href="{{ url }}"
            class="px-3 py-0 inline-flex items-center hover:text-jet-200 hover:bg-success-800"
        >
            {{ label }}
        </a>
    </li>
{% endmacro %}

{% macro gridItem(item) %}
    <div class="bg-whitish p-4">
        <h3 aria-labelledby="{{ item.data.title }}">
            <a href="{{ item.url }}">{{ item.data.title | safe }}</a>
        </h3>
        <p>{{ item.data.description }}</p>
    </div>
{% endmacro %}

{% macro renderButton(url, buttonText, title = "") %}

        <a
        href="{{ url }}"
        {% if collections[collectionName]=="podcasts" %}
        download = "{{mp3File}}"
        {% endif %}
        role="button"
        class="font-sans"
        {% if title %}
            aria-label="Learn more about {{ title }}"
        {% else %}
            aria-label="{{ buttonText }}"
        {% endif %}
        title="{% if title %}Learn more about {{ title }}{% else %}{{ buttonText }}{% endif %}"
    >
            <button
            type="button"
            {% if collections.podcasts %}
        download
        {% endif %}
            class="p-2 rounded-lg transition-transform transform mt-0 text-whitish bg-medium-blue"
            aria-label="{% if title %}Learn more about {{ title }}{% else %}{{ buttonText }}{% endif %}"
        >
                <span class="sr-only">
                    {% if title %}Learn more about {{ title }}
                    {% else %}{{ buttonText }}
                    {% endif %}
                </span>
                {{ buttonText }}
            </button>
        </a>

{% endmacro %}

{% macro card(url, title, description, buttonText, heroImage) %}
    <div style="border: 1px solid var(--cadet-gray); border-radius: 1rem;"
    class="card flex flex-col rounded-xl h-full p-2"
    aria-labelledby="card-title-{{ title | slugify }}"
>
        <div class="flex flex-col h-full">
            <figure class="hero flex mx-auto" role="img" aria-label="{% if heroImage %}Hero image for {{ title }}{% endif %}">
                {{ heroImage | safe }}
            </figure>
            <h2 id="card-title-{{ title | slugify }}" class="card-title leading-8">
                <a href="{{ url }}" aria-label="Read more about {{ title }}">{{ title | safe }}</a>
            </h2>

        <figure class="hero flex my-1 mx-auto" role="img" aria-label="{% if heroImage %}Hero image for {{ title }}{% endif %}">
            {{ heroImage | safe }}
        </figure>
            <div class="card-description flex-grow">
                {{ description | markdown | safe }}
            </div>
            <p>{{ renderButton(url, buttonText, title) }}</p>
        </div>
    </div>
{% endmacro %}