{% macro dropdown(id, label, items, homepageUrl) %}
    <li class="relative list-none font-sans dropdown">
        <a href="{{ homepageUrl }}" class="dropdown-toggle">{{ label }}</a>
        <ul
        id="{{ id }}-submenu"
        class="absolute hidden shadow-md rounded-md bg-medium-blue dropdown-menu"
        aria-label="drop-down menu for {{ label }}"
    >
            {% for item in items %}
                <li class="list-none font-sans block">
                    <a aria-labelledby="{{item.data.title}}" href="{{ item.url | url }}">{{ item.data.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </li>
{% endmacro %}

{% macro listItem(url, label) %}
    <li class="list-none font-sans" aria-labelledby="{{ label }}">
        <a href="{{ url }}">{{ label }}</a>
    </li>
{% endmacro %}

{% macro gridItem(item) %}
    <div class="bg-whitish p-4">
        <h3 aria-labelledby="{{ item.data.title }}">
            <a href="{{ item.url }}">{{ item.data.title | safe }}</a>
        </h3>
        <p>{{ item.data.description }}</p>
    </div>
{% endmacro %}

{% macro renderButton(url, buttonText, title = "") %}

        <a
        href="{{ url }}"
        role="button"
        class="font-sans"
        {% if title %}
            aria-label="Learn more about {{ title }}"
        {% else %}
            aria-label="{{ buttonText }}"
        {% endif %}
        title="{% if title %}Learn more about {{ title }}{% else %}{{ buttonText }}{% endif %}"
    >
            <button
            type="button"
            {% if collections.podcasts %}
        download
        {% endif %}
            class="p-2 rounded-lg transition-transform transform shadow-md mt-0 text-whitish bg-green-blue"
            aria-label="{% if title %}Learn more about {{ title }}{% else %}{{ buttonText }}{% endif %}"
        >
                <span class="sr-only">
                    {% if title %}Learn more about {{ title }}
                    {% else %}{{ buttonText }}
                    {% endif %}
                </span>
                {{ buttonText }}
            </button>
        </a>

{% endmacro %}

{% macro card(url, title, description, buttonText, heroImage) %}
    <div
    class="card flex flex-col rounded-xl shadow-md h-full border-gray-200 border-2 p-4"
    aria-labelledby="card-title-{{ title | slugify }}"
>
        <div class="flex flex-col h-full">
            <figure class="hero flex my-1 mx-auto" role="img" aria-label="{% if heroImage %}Hero image for {{ title }}{% endif %}">
                {{ heroImage | safe }}
            </figure>
            <h2 id="card-title-{{ title | slugify }}" class="card-title leading-8">
                <a href="{{ url }}" aria-label="Read more about {{ title }}">{{ title | safe }}</a>
            </h2>
            <div class="card-description flex-grow">
                {{ description | markdown | safe }}
            </div>
            <p>{{ renderButton(url, buttonText, title) }}</p>
        </div>
    </div>
{% endmacro %}