{% macro dropdown(id, label, items, homepageUrl) %}
    <li class="dropdown rounded-sm">
        <a
            href="{{ homepageUrl }}"
            id="{{ id }}-button"
            class="px-3 flex hover:bg-success-800 rounded-sm"
            aria-expanded="false"
            aria-haspopup="true"
            aria-controls="{{ id }}-menu"
        >
            {{ label }}
            <span class="ml-1">&#9660;</span>
        </a>
        <ul

            class="dropdown-menu"
            role="menu"
            aria-labelledby="{{ id | slugify }}-button"
        >
            {% for item in items %}
                <li role="menuitem" class="block w-full text-jet hover:bg-medium-blue" id="{{ id }}-menu">
                    <a
                        href="{{ item.url | url }}"

                        role="none"
                        tabindex="-1"
                        data-index="{{ loop.index0 }}"
                    >
                        {{ item.data.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
{% endmacro %}

{% macro listItem(url, label) %}
    {% set classList %}
        mr-1 py-0 rounded-sm hover:transition-colors hover:bg-success-900 font-sans
        {% if label == "LinkedIn" %}
            fa-brands fa-linkedin text-2xl
        {% elif label == "GitHub" %}
            fa-brands fa-github text-2xl
        {% elif label == "Contact Ed" %}
            bg-success-600 hover:bg-success-700 text-jet-200 px-4 py-2 rounded-md shadow-sm transition-all duration-200 font-semibold whitespace-nowrap border border-success-700 hover:shadow-md
        {% endif %}
    {% endset %}

    <li class="list-none">
        <a
            href="{{ url }}"
            id="{{label | slugify}}-item"
            class="{{ classList | trim }}"
            {% if label in ['LinkedIn', 'GitHub'] %}
                aria-label="visit-ed-marsh-on-{{ label }}"
                title="Visit Ed Marsh on {{ label }}"
            {% else %}
                aria-label="{{ label | slugify }}"
            {% endif %}
        >
            {% if not(label in['LinkedIn', 'GitHub']) %}
                {{ label }}
            {% endif %}
        </a>
    </li>
{% endmacro %}

{% macro gridItem(item) %}
    <div class="bg-whitish p-4">
        <h3 aria-labelledby="{{ item.data.title |slugify }}">
            {% if item.data.FontAwesomeIcon %}
                <span class="fa-{{ item.data.FontAwesomeIcon }} text-2xl text-medium-blue"></span>
            {% endif %}
            {% if item.data.cover %}
                <img src="/assets/images/{{ item.data.cover }}" alt="{{ item.data.coverAlt or item.data.title }}" data-pagefind-meta="image[{{item.data.cover}}], image_alt[{{ item.data.coverAlt or item.data.title }}]" class="w-full h-48 object-cover mb-2">
            {% endif %}
            <a href="{{ item.url }}">{{ item.data.title | safe }}</a>
        </h3>
        <p>{{ item.data.description }}</p>
    </div>
{% endmacro %}

{% macro renderButton(url, buttonText, title = "") %}

    <a
        href="{{ url }}"
        role="button"
        class="font-sans"
        {% if title %}
            aria-label="Learn-more-about-{{ title | slugify }}"
        {% else %}
            aria-label="{{ buttonText | slugify }}"
        {% endif %}
        title="{% if title %}Learn more about {{ title }}{% else %}{{ buttonText }}{% endif %}"
    >
        <button
            type="button"
            {% if collections.podcasts %}
        download
        {% endif %}
            class="p-2 rounded-lg transition-transform transform mt-0 text-jet-100 bg-medium-blue"
            aria-label="{% if title %}Learn more about {{ title }}{% else %}{{ buttonText }}{% endif %}"
        >
            <span class="sr-only">
                {% if title %}Learn more about {{ title }}
                {% else %}{{ buttonText }}
                {% endif %}
            </span>
            {{ buttonText }}
        </button>
    </a>

{% endmacro %}

{% macro card(url, title, description, buttonText, heroImage) %}
    <div class="card flex flex-col rounded-sm h-full p-2 border-2"
    aria-labelledby="card-title-{{ title | slugify }}"
>
        <div class="flex flex-col h-full">
            <figure class="hero flex mx-auto" role="img" aria-label="{% if heroImage %}Hero-image-for-{{ title | slugify }}{% endif %}">
                {{ heroImage | safe }}
            </figure>
            <h2 id="card-title-{{ title | slugify }}" class="card-title leading-8">
                <a href="{{ url }}" aria-label="Read-more-about-{{ title | slugify }}">{{ title | safe }}</a>
            </h2>

            <div class="card-description flex-grow mb-4">
                {{ description | markdown | safe }}
            </div>
            <p>{{ renderButton(url, buttonText, title) }}</p>
        </div>
    </div>
{% endmacro %}