{% from "layouts/partials/macros.njk" import dropdown, listItem %}

<nav class="container bg-medium-blue" aria-label="Ed Marsh introduction and site navigation menu">
    <div class="px-4 text-whitish flex flex-wrap flex-row w-1/3" id="navbar-intro">
        <span class="text-xl font-semibold">
            Ed Marsh creates successful technical content by building community
        </span>
        </div>
        <div>
        <ul id="navbar" class="flex flex-wrap md:w-2/3" aria-label="Main navigation menu">
            {{ dropdown('ssgDropdown', 'Website transformation', collections.ssg, '/static-site-transformation/') }}
            {{ listItem('/podcasts/', 'Podcasts') }}
            {{ listItem('/technical-writing-examples/', 'Writing samples') }}
            {{ dropdown('skillsDropdown', 'Skills', collections.skills, '/skills') }}
            {{ listItem('/about/about-ed-marsh', 'About') }}
            {{ listItem('/contact/', 'Contact') }}
        </ul>
    </div>
</nav>