{% from "layouts/partials/macros.njk" import dropdown,
listItem %}

<div class="flex flex-col flex-wrap max-w-4xl">
    <div id="tagline" class="col-span-1">
        <a href="/" class="font-sans text-jet-200 font-semibold">
            Successful technical content through community building
        </a>
    </div>

    <div id="menubar">
        <ul class="flex flex-row flex-wrap" aria-label="Main navigation menu" role="menubar">
            {{ dropdown('skillsDropdown', 'Skills', collections.skills, '/skills/') }}
            {{ dropdown('blogDropdown', 'Blog', collections.blog, '/static-site-transformation/') }}
            {{ listItem('/podcasts/', 'Podcast') }}
            {{ listItem('/about/about-ed-marsh/', 'About') }}
            {{ listItem('https://linkedin.com/in/edmarsh', 'LinkedIn') }}
            {{ listItem('https://github.com/emdashdrupal/11ty-working', 'GitHub') }}
            {{ listItem('/contact/', 'Contact Ed') }}
            <li class="list-none ml-4 w-64 hover:text-jet-200">
                <button id="searchToggle" aria-expanded="false" aria-controls="search">
                    <i class="fa-solid fa-search text-2xl"></i>
                    <span class="sr-only">Toggle search</span>
                </button>
                <div id="search" class="hidden bg-whitish rounded-sm shadow-lg"></div>
            </li>
        </ul>
    </div>
</div>