<script src="/pagefind/pagefind-ui.js"></script>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({element: "#search", showSubResults: false, showImages: false});
    });
</script>
{% from "layouts/partials/macros.njk" import dropdown,
listItem %}

<nav class="container bg-medium-blue" aria-label="Ed Marsh introduction and site navigation menu">
    <div class="px-4 text-whitish" id="navbar-intro">
        <span class="text-xl font-semibold">Ed Marsh creates successful technical content by building community</span>
        <ul class="flex" aria-label="Main navigation menu">
            {{ dropdown('ssgDropdown', 'Website transformation \>', collections.ssg, '/static-site-transformation/') }}
            {{ listItem('/podcasts/', 'Podcasts') }}
            {{ listItem('/technical-writing-examples/', 'Writing samples') }}
            {{ dropdown('skillsDropdown', 'Skills >', collections.skills, '/skills') }}
            {{ listItem('/about/about-ed-marsh', 'About') }}
            {{ listItem('/contact/', 'Contact') }}
        </ul>
        <span id="search" class="float-right"></span>
    </div>
</nav>