{% if collections[collectionName] %}
    {% set previousPost = collections[collectionName] | getPreviousCollectionItem(item) %}
    {% set nextPost = collections[collectionName] | getNextCollectionItem(item) %}

    <div class="flex justify-between items-center w-full mb-4">
        <div class="flex-1">
            {% if previousPost %}
                <a href="{{ previousPost.url }}" class="flex items-center gap-2 text-whitish hover:text-gray-200">
                    <span class="fa-solid fa-arrow-left-long"></span>
                    <span>Previous | {{ previousPost.data.title }}</span>
                </a>
            {% endif %}
        </div>

        <div class="flex-1 text-right">
            {% if nextPost %}
                <a href="{{ nextPost.url }}" class="flex items-center justify-end gap-2 text-whitish hover:text-gray-200">
                    <span>{{ nextPost.data.title }} | Next</span>
                    <span class="fa-solid fa-arrow-right-long"></span>
                </a>
            {% endif %}
        </div>
    </div>
{% endif %}