{% if collections[collectionName] %}
    {% set previousPost = collections[collectionName] | getPreviousCollectionItem(item) %}
    {% set nextPost = collections[collectionName] | getNextCollectionItem(item) %}
    {% if previousPost %}
        <div class="shadow-md p-2 rounded-sm bg-grey-green">
            <span class="fa-solid fa-arrow-left-long"></span> Previous <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>

            {% if nextPost %}
                <div class="float-right">

                    <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a> Next
                    <span class="fa-solid fa-arrow-right-long"></span>
                </div>
            </div>
        {% endif %}
    {% endif %}

{% endif %}