<img
                                        {% if podcast.data.cover %}
                                        src="/assets/images/{{podcast.data.cover }}" alt="{{ podcast.data.coverAlt }}"
                                        {% else %}
                                        src="/assets/images/content-content-podcast-new-cover.png" alt="Content Content podcast"
                                        {% endif %}/></div>