{% for presentation in filteredPresentations | sort(false, false, 'year') | reverse %}
    <ul class="presentation">
        <li>
            {% if presentation.link %}
                <a href="{{ presentation.link }}">
                    <i class="text-md">{{ presentation.title }}</i>
                </a>
                {{ presentation.type }}

            {% else %}
                <i class="text-md">{{ presentation.title }}</i>
                {{ presentation.type }}
            {% endif %}

            <p class="text-sm mt-0">{{ presentation.venue }}, <span class="text-sm text-jet-600">{{ presentation.year }}</span></p>
        </li>
    </ul>
{% endfor %}