<div class="grid col-auto sm:grid-cols-4 gap-3 px-3 py-3 border-2">
    {% for skill in collections.skills %}

        <div class="flex flex-col rounded-xl bg-[#ffffff] shadow-xl max-w-md my-2">
            <figure class="flex justify-center items-center"><a href="{{skill.page.url}}">
           <div class="float-left icon fa-{{ skill.data.FontAwesomeIcon }}"></div>
            </figure>
            <div class="flex flex-col p-4 content-evenly">
                <div class="font-bold hover:bg-slate-200 text-[#374151] pb-6"><a href="{{skill.page.url}}">{{ skill.data.title |safe }}</a></div>
                <div class=" text-md text-[#374151]">{{skill.data.description}}</div>
                <div class="flex pt-6">
                    <a href="{{skill.page.url}}" class="text-gray-700"><button class="bg-slate-500 text-[#ffffff]  font-bold text-base  p-2 rounded-lg hover:bg-gray-400 active:scale-95 transition-transform transform shadow-md ">
                        Learn more
                    </button></a>
                </div>

            </div>

        </div>
    {% endfor %}
</div>