{% if tools %}
    {% set filteredTools = tools | filterToolsByCategory(pageCategory) | default([]) %}
    {% if filteredTools and filteredTools.length > 0 %}
        <h2>Tools used</h2>
        <ul class="tools-list text-md list-none space-y-2">
            {% for tool in filteredTools | sort(false, false, "title") %}
                            <h3 class="font-normal text-[1rem]">

                    {{ tool.title }}
                    {% if tool.publisher %}
                        <p class="text-sm mt-0 jet-600">{{ tool.publisher }}</p>
                    {% endif %}
                </h3>
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}
