{% set pageCategory = categories %}
{% set filteredTools = tools | filterToolsByCategory(pageCategory) %}

{% if filteredTools.length > 0 %}
<h2>Related tool experience</h2>
<ul class="tools-list">
  {% for tool in filteredTools %}
    <li class="mb-4">

      {{ tool.title }} <span class="text-jet-600"> by {{ tool.publisher }}</span>
    </li>
  {% endfor %}
</ul>
{% endif %}