:root {
    --blue: #1e90ff;
    --midnight-green: #0b5563;
    --light-blue: #0074D9;
    --cadet-gray: #94a3b8;
    --ecru: #aba361;
    --whitish: #f7f7f8;
    --grey-green: #96a396;
    --medium-blue: #678bb1;
    --green-blue: #4b788a;
    --sans-serif: "Poppins", Roboto, Ubuntu, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --serif: "Besley", serif;
    --monospace: "Reddit Mono", Consolas, Courier, monospace;
}

/* Text color classes */
.text-blue {
    color: var(--blue);
}

.text-white {
    color: var(--white);
}

.text-midnight-green {
    color: var(--midnight-green);
}

.text-light-blue {
    color: var(--light-blue);
}

.text-cadet-gray {
    color: var(--cadet-gray);
}

.text-ecru {
    color: var(--ecru);
}

.text-whitish {
    color: var(--whitish);
}

.text-grey-green {
    color: var(--grey-green);
}

.text-medium-blue {
    color: var(--medium-blue);
}

.text-green-blue {
    color: var(--green-blue);
}

/* Background color classes */
.bg-blue {
    background-color: var(--blue);
}

.bg-white {
    background-color: var(--white);
}

.bg-midnight-green {
    background-color: var(--midnight-green);
}

.bg-light-blue {
    background-color: var(--light-blue);
}

.bg-cadet-gray {
    background-color: var(--cadet-gray);
}

.bg-ecru {
    background-color: var(--ecru);
}

.bg-whitish {
    background-color: var(--whitish);
}

.bg-grey-green {
    background-color: var(--grey-green);
}

.bg-medium-blue {
    background-color: var(--medium-blue);
}

.bg-green-blue {
    background-color: var(--green-blue);
}

html,
body {
    font-size: 1rem;
    color: #000;
    line-height: 1.3rem;
}

p {
    font-family: var(--serif);
    font-size: 104%;
    color: #000;
    line-height: 1.6rem;
}

.card-description {
    font-family: var(--serif);
}

.description,
.description>p {

    font-family: var(--sans-serif);
    font-size: 104%;
    font-optical-sizing: auto;
    color: #000;
    line-height: 1.6rem;
}

#page-description>p {
    font-family: var(--sans-serif);
}

h1 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    margin-top: 0;
    font-family: var(--sans-serif);
}

h2 {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 1rem 0 0.5em 0;
    font-family: var(--sans-serif);
}

h3 {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 1rem 0 .5rem 0;
    font-family: var(--sans-serif);
}

pre,
code,
font-mono {
    font-family: var(--monospace);
    margin: 0;
    padding: 0;
    tab-size: 2;
}

a {
    text-decoration: none;
}

p>a {
    color: var(--green-blue);
}

a:hover {
    text-decoration: underline;
    background-color: var(--medium-blue);
    color: var(--whitish);
}

ul li {
    list-style-type: square;
    font-family: var(--serif);
    font-optical-sizing: auto;
    margin-left: 1%;
    line-height: 1.5rem;
}

ul {
    margin-top: 0.9rem;
}

ol li {
    margin-bottom: 0.6rem;
    list-style-type: decimal;
    font-family: var(--serif);
    font-optical-sizing: auto;
    margin-left: 1%;
}

th {
    font-weight: 600;
    font-family: var(--sans-serif);
    text-align: left;
}

table {
    margin-top: 2%;
}

blockquote::before {
    content: "> Note";
    font-size: 1.25rem;
    color: var(--midnight-green);
}

blockquote {
    margin: 1rem 0;
    padding-left: 1rem;
    border-left: 6px solid var(--cadet-gray);
}

/* Ensure the dropdown menu is hidden by default */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--whitish);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding-top: 0px;
}

/* DO NOT DELETE Show the dropdown menu when the parent item is hovered */
.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a {
    color: black;
    padding: 12px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: var(--green-blue);
    color: white;
    border-radius: 6px;
}

.font-sans,
.dropdown-toggle {
    font-family: var(--sans-serif);
}

.text-4xl {
    font-size: 3rem;
}

.icon {
    color: var(--green-blue);
}

button:hover {
    background-color: var(--medium-blue);
    border-radius: 6px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

code[class*="language-"],
pre[class*="language-"] {
    font-family: var(--monospace)
}

.hero > a:hover {
    background-color: white;
}
