
html, body {
    font-family: "Poppins", Roboto, Ubuntu, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    color: #000;
    padding-left: 3%;
    line-height: 1.3rem;
}

p , .description{
    margin: 0.5rem 0;
    font-family: Besley, serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: #000;
    line-height: 1.4rem;
}
p:last-of-type {
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 1.45rem;
    font-weight: 700;
margin-bottom: 0.5rem;
margin-top: 0;
font-family: "Poppins", sans-serif;
}
h2 {
    font-size: 1.3rem;
    font-weight: 600;
font-family: "Poppins", sans-serif;}
h3 {
    font-size: 1.2rem;
    font-weight: 700;
margin: 1rem 0 .5rem 0;
font-family: "Poppins", sans-serif;}

pre, code, font-mono {
    font-family: "Reddit Mono", Consolas, Courier, monospace;
    margin: 0;
    padding: 0;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
}

a {
    color: #94a3b8;
    text-decoration: none;

}
li {
    margin-bottom: 0.6rem;
    list-style-type: square;
    font-family: Besley, serif;
font-optical-sizing: auto;
margin-left: 1%;
}

ul {
    margin-top: 0.9rem;
}

th {
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    text-align: left;
}

table { margin-top: 2%;}

blockquote::before {
    content: "> Note";
    font-size: 1rem;
    color: #0074D9;
}

blockquote {
        margin: 1rem 0;
    padding-left: 1rem;
    border-left: 3px solid #0074D9;
    border-right: 2px solid #0074D9;
}

/* Ensure the dropdown menu is hidden by default */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Show the dropdown menu when the parent item is hovered */
.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.font-sans, .dropdown-toggle {
    font-family: "Poppins", Ubuntu, sans-serif;
}

.text-4xl {
    font-size: 3rem;
}

.icon {
    color: #083d77
}