.skill-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 10px;
}

.skill-tile {
    border: 3px solid #fae0f9;
    padding: 15px;
    text-decoration: none;
    height: 90%;
    text-align: left;
}

.icon {
    font-size: 250%;
    color: blueviolet;
    float: left;
}