{% include 'layouts/partials/header.njk' %}
    <figure class="hero flex float-right ">
      {% if cover %}
        <a href="{{ item.url }}">
          <img src="/assets/images/{{ cover}}" alt="{{ item.data.coverAlt | safe }}" class="h-48 rounded-2xl pointer-events-auto shadow-lg"/>
        </a>
      {% endif %}
      {% if FontAwesomeIcon %}
        <div class="float-left icon fa-{{ item.data.FontAwesomeIcon }}"></div>
      {% endif %}
    </figure>

{{ content | safe }}

{% include 'layouts/partials/footer.njk' %}