{% include 'layouts/partials/header.njk' %}
<figure class="hero flex justify-end float-right ml-2">
{% include 'layouts/partials/hero-image.njk' %}
</figure>
{{ content | safe }}

{% include 'layouts/partials/footer.njk' %}