{% include "layouts/partials/header.njk" %}
<div class="grid md:grid-cols-2 lg:grid-cols-2 sm:grid-cols-1">
    {% set collectionName = collectionName %}
    {% set filtered_collections = collections[collectionName] %}
    {% if collectionName == "skills" %}
        {% for item in filtered_collections | sort(false, false, "data.featuredOrder") %}
            {% if not item.inputPath or not item.inputPath.endsWith('/index.md') %}
                {% include "layouts/partials/card.njk" %}
            {% endif %}
        {% endfor %}
    {% else %}
        {% for item in filtered_collections | sort(false, false, "data.date") | reverse %}
            {% if not item.inputPath or not item.inputPath.endsWith('/index.md') %}
                {% include "layouts/partials/card.njk" %}
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
{% include "layouts/partials/footer.njk" %}