{% include "layouts/partials/header.njk" %}


<div class="grid col-auto md:grid-cols-3 gap-3 px-3 py-3 border-2">
{% include "layouts/partials/card.njk" %}
</div>

{% include "layouts/partials/footer.njk" %}