{% include 'layouts/partials/header.njk' %}

<section id="intro">
    <div class="float-right rounded-lg max-w-48">
        <img
        src="/assets/images/ed-marsh.jpg"
        alt="Ed Marsh, photo courtesy Arclight Images"
        title="Ed Marsh, photo courtesy Arclight Images"
      >
    </div>
    <div class="prose">
        <p class="font-sans text-lg">
            <span class="text-xl font-semibold">Hi, I'm Ed Marsh</span>. I'm a technical communicator, content strategist, community builder, and podcaster. I'm passionate about creating and managing content that is clear, concise, and consistent. My process involves defining structure and effective content strategy. As a result, your content performs better, particularly with AI and large language models (LLMs).</p>

        <p>I've worked on both user- and developer-facing documentation, in software and financial services, with a variety of tools including:</p>
        <ul>
            <li>Adobe Creative Cloud</li>
            <li>Adobe RoboHelp</li>
            <li>Confluence</li>
            <li>Git</li>
            <li>Jira</li>
            <li>MadCap Flare</li>
            <li>Markdown</li>
            <li>OpenAPI (Swagger)</li>
            <li>oXygen XML Editor</li>
            <li>VS Code</li>
        </ul>

        {% include 'layouts/partials/goocal-button.html' %}</div>
</div>
</section>

<section class="border-2 mx-auto" id="skills">
<h2 class="px-3">How I can help you</h2>
<p class="description px-3">Here are a few ways I can help your organization. <a href="/skills/">See all the ways I can help</a>.</p>
<div class="grid col-auto sm:grid-cols-4 gap-3 px-3">
    {% set collectionName = "skills" %}
    {% for item in collections[collectionName] %}
        {% if item.data.featured == true and item.data.featuredOrder > 0 | sort(collections[collectionName].data.featuredOrder) %}
            {% include 'layouts/partials/card.njk' %}
        {% endif %}
    {% endfor %}
</div>
</section>

<section class="border-2 mx-auto" id="ssg">
<h2 class="px-3">Creating a static site</h2>
<p class="description px-3">I converted my WordPress site to a static site with the <a href="https://www.11ty.dev/">Eleventy static site generator</a>. Here's what I learned about the process, and how these lessons learned can help you organize and structure your content to meet your goals.</p>
    <div class="col-span-full text-xl font-bold italic p-4">
        <a href="/static-site-transformation/">Check out the full series</a>
    </div>

<div class="grid col-auto sm:grid-cols-4 gap-3 px-3">
    {% set collectionName = "ssg" %}
    {% for item in collections[collectionName] %}
        {% if item.data.featured == true %}
            {% include 'layouts/partials/card.njk' %}
        {% endif %}
    {% endfor %}
</div>
</section>

<section class="border-2 mx-auto" id="podcasts">
<h2 class="px-3">Recent podcasts</h2>
<p class="description px-3">I hosted (scheduled, recorded, edited, produced, published, promoted, and reviewed metrics for) the <a href="podcasts/">Content Content podcast</a>, where I interviewed "the people behind the content" in technical communication, content strategy, content marketing, implementation, and more.</p>
<div class="grid col-auto sm:grid-cols-4 gap-3 px-3">
    {% set collectionName = "podcasts" %}
    {% for item in collections.podcasts | reverse %}
        {% if loop.index0 <= 3 %}
            {% include 'layouts/partials/card.njk' %}
        {% endif %}
    {% endfor %}

    <div class="col-span-full text-xl font-bold italic">
        <a href="/podcasts/">All podcasts</a>
    </div>
</div>
</section>

{% include 'layouts/partials/footer.njk' %}