{% include 'layouts/partials/header.njk'%}
<div class="grid col-auto sm:grid-cols-4 gap-3 px-3 py-3 border-2">
{% block content %}
    <p class="mx-0 my-4">Content Content is a podcast where you get to know the people behind the content. We interview professionals in technical communication, content strategy, content marketing, information architecture, and others who create, organize, and maintain content online.</p>

{% include 'layouts/partials/card.njk' %}
{% endblock %}
</div>
{% include 'layouts/partials/footer.njk'%}
