<!doctype html>
<head>
    <link rel="stylesheet" type="text/css" href="/_includes/css/tw.css">
    <link rel="stylesheet" type="text/css" href="/_includes/css/base.css">
<title>Content Content podcast - Ed Marsh</title>
</head>
{% include 'layouts/partials/header.njk'%}
{% block content %}
    <h1>Content Content podcast &mdash; The people behind the content</h1>
    <p class="mx-0 my-4">Content Content is a podcast where you get to know the people behind the content. We interview professionals in technical communication, content strategy, content marketing, information architecture, and others who create, organize, and maintain content online.</p>

{% include 'layouts/partials/grid.njk' %}
</body>
{% endblock %}
</html>