{% include "layouts/partials/header.njk" %}
{{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
    {% block content %}
<div class="mr-12 float-right"><span class="icon fa-{{ FontAwesomeIcon }} "></span></div>
        <h1>Ed Marsh has experience with {{ title }}</h1>
    <article>
        <p>{{ description }}</p>
        {{ content | safe }}
    </article>
        {% endblock %}
        <a href="../">Back</a>
    </body>
</html>