{% include "layouts/partials/header.njk" %}
{% block content %}
<div class="grid col-auto sm:grid-cols-4 gap-3 px-3 py-3 border-2">
{% include "layouts/partials/card.njk"  %}
</div>
{% endblock %}
{% include 'layouts/partials/footer.njk'%}