    {% block content %}
    {{ collections.skills | eleventyNavigation | eleventyNavigationToHtml | safe }}

    {% include "layouts/partials/header.njk" %}
    <h2>Skillz</h2>
{% include "layouts/partials/skills-grid.njk" %}
</body>
{% endblock %}
</html>