<!doctype html>
<head>
    <title>{{ title }}</title>
    <script src="https://kit.fontawesome.com/a285d034b2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/_includes/css/tw.css">
    <link rel="stylesheet" type="text/css" href="/_includes/css/base.css">
    <link rel="stylesheet" type="text/css" href="/_includes/css/skill.css">
</head>
<body>

    {% block content %}

        <h1>Ed Marsh has experience with {{ title }}
            <span class="icon fa-{{ FontAwesomeIcon }} float-right"></span></h1>
    <article class="prose prose-base">
        {{ content | safe }}
    </article>
        {% endblock %}
        <a href="../">Back</a>
    </body>
</html>