{{ collections.skills | eleventyNavigation | eleventyNavigationToHtml | safe }}
<link rel="stylesheet" type="text/css" href="/css/skill.css">
{% include "layouts/partials/header.njk" %}
{% block content %}
        {% include "layouts/partials/card.njk" %}

{% endblock %}
{% include 'layouts/partials/footer.njk'%}