<!doctype html>
<html lang="{{ metadata.language }}">
    <head>
        <title>{{ title or metadata.title }}</title>
        <script src="https://kit.fontawesome.com/a285d034b2.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="/_includes/css/tw.css">
        <link rel="stylesheet" type="text/css" href="/_includes/css/base.css">
        <link rel="alternate" href="feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ description or metadata.description }}">
        <meta name="generator" content="{{ eleventy.generator }}">

    </head>
    <body class="body-{{title or metadata.title}}">
        {% include 'layouts/partials/header.njk'%}

        <main id="skip">
<div class="flex flex-col rounded-2xl w-[500px] bg-[#ffffff] shadow-xl">
    <!---->
    <div class="flex flex-col p-8">
        <div class="text-2xl font-bold   text-[#374151] pb-6">Technical writing examples</div>
        <div class=" text-base   text-[#374151]">Leverage a graphical editor to create, design and customize beautiful web components.</div>
        <div class="flex justify-end pt-6">
            <button class="bg-[#7e22ce] text-[#ffffff]  font-bold text-base  p-3 rounded-lg hover:bg-purple-800 active:scale-95 transition-transform transform">Learn more</button>
        </div>
        <!---->
    </div>
</div>
                {{ content | safe }}

        </main>

    </body>
</html>