<!doctype html>

<body>
{% block content %}
    <article class="prose prose-lg">
        <h1> Ed Marsh tech writing samples</h1>

        <p class="top-4">As a long-time technical content professional, here are some real-world thoughts and examples of what Ed can do for your business.</p>

        <ul>
            {% for example in collections.examples %}

                <li class="list-inside list-item list-disc top-6">
                    <a href="{{ example.url }}">{{example.data.title}}</a>
                </li>
            {% endfor %}
        </ul>
    </article>
{% endblock %}
</body>
</html>